* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
  padding: 2vw;
}

nav ul {
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

nav ul li a i {
  color: white;
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
  background-color: black;
}

nav ul>i {
  display: none;
  font-size: 20px;
}

section.top {
  width: 100%;
  padding: 4vw 6vw;
}

section.top h1 {
  width: 50%;
  font-size: 4.2vw;
  font-weight: 400;
  line-height: 5vw;
}

section.center {
  width: 100%;
  padding: 0 4vw 2vw 6vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.center p {
  width: 28%;
  line-height: 1.8vw;
}

section.center .links {
  width: 22%;
}

section.center .links ul li {
  list-style: none;
  padding: 1vw 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #1c1c1c;
}

section.center .links ul li a {
  color: black;
  font-size: 1.15vw;
  text-decoration: none;
}

section.center .links ul li i {
  display: none;
  font-size: 1.25vw;
}

section.center .links ul li:hover i {
  display: block;
}

section.center .links ul li:hover a {
  text-decoration: underline;
}

section.bottom {
  width: 100%;
  height: 40vh;
}

section.bottom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

section.bottom img:nth-child(2) {
  display: none;
}

@media (max-width:600px) {
  header {
    width: 100%;
    height: 100%;
  }
  
  nav {
    padding: 6vw;
  }
  
  nav ul li {
    display: none;
  }
  
  nav ul>i {
    display: block;
  }
  
  section.top {
    width: 100%;
    padding: 8vw;
  }
  
  section.top h1 {
    width: 100%;
    font-size: 8.8vw;
    font-weight: 400;
    line-height: 10.2vw;
  }
  
  section.center {
    width: 100%;
    padding: 4vw 6vw 4vw 8vw;
    flex-direction: column;
  }
  
  section.center p {
    width: 100%;
    font-size: 3.5vw;
    line-height: 4vw;
    padding-bottom: 8vw;
  }
  
  section.center .links {
    width: 100%;
  }
  
  section.center .links ul li {
    padding: 3.4vw 0;
  }
  
  section.center .links ul li a {
    color: black;
    font-size: 3.8vw;
  }
  
  section.center .links ul li i {
    display: block;
    font-size: 4vw;
  }

  section.bottom img {
    object-position: top;
  }

  section.bottom img:nth-child(1) {
    display: none;
  }

  section.bottom img:nth-child(2) {
    display: block;
  }
}